# **ESTRUCTURAS DE DATOS COMPLEJAS: LISTAS, TUPLAS Y SETS**

***
## **LISTAS**
***

Las listas son secuencias mutables ya que permiten modificar los valores de sus elementos, eliminar o añadir elementos.

En ellas se pueden almacenar tantos elementos como se desee, incluso pueden existir listas vacías (sin elementos). Para definirlas se utilizan corchetes y se separan los elementos mediante comas :

`nombre_lista = [valor1, valor2, ...]`.

In [ ]:
notas = [9.1, 8.5, 7.3]

print(notas)
print(type(notas))

[9.1, 8.5, 7.3]
<class 'list'>

No es necesario que una lista contenga el mismo tipo de datos. Por ejemplo, podemos tener la siguiente lista:

In [ ]:
lista = ["UTN", 2, 3.5, True]

print(lista)
print(type(lista))

['UTN', 2, 3.5, True]
<class 'list'>

#### **MÉTODOS CON LISTAS**

**range**

Se puede crear una lista de números automáticamente utilizando `range(inicio, fin)`.

In [ ]:
lista_range = list(range(1,10))

print(lista_range)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Por default toma intervalos de 1 en 1. Para modificar esto basta con agregar un argumento a `range(inicio, fin, intervalo)`.

In [ ]:
lista_range = list(range(1,10,2))

print(lista_range)

[1, 3, 5, 7, 9]

**split**

Permite crear una lista a partir de un string, utilizando un caracter específico como separador. Por defecto, utiliza los espacios para separar el string en distintos elementos de la lista.

In [ ]:
hello_world_string = 'Hello world!'
lista_separada = hello_world_string.split()

print(lista_separada)

:

***Slicing***

Es posible acceder a los distintos elementos de una lista utilizando el índice del mismo, de manera análoga a como se realiza con los strings `nombre_lista[índice_elemento]`.

In [ ]:
lista = ["UTN", 2, 3.5, True]

posicion_1_lista = lista[0]

print(posicion_1_lista)
print(type(posicion_1_lista))

UTN
<class 'str'>

In [ ]:
rango_lista = lista[0:3]
print(rango_lista)

['UTN', 2, 3.5]

***Añadir elementos***

Se usa la sentencia `nombreLista.append(elementoAAñadir)`.

Notar que no es necesario sobreescribir la variable, las sentencia `append()` modifica la lista sin necesidad de sobreescribirla.

In [ ]:
print(notas)

[9.1, 8.5, 7.3]

In [ ]:
notas.append(9.2)
notas.append(False)
print(notas)

[9.1, 8.5, 7.3, 9.2, False]

***Eliminar elementos***

Se usa la sentencia `nombreLista.remove(elementoAEliminar)`.

In [ ]:
notas.remove(9.2)
notas.remove(False)
print(notas)

[9.1, 8.5, 7.3]

***Actualizar elementos***

Para esto se hace uso del slicing. Esta operación diferencia una lista de un string, ya que no puede ser efectuada en el segundo tipo de dato. <Por ejemplo, si queremos actualizar el tercer elemento:

In [ ]:
notas[2] = "Hola mundo"

print(notas)

[9.1, 8.5, 'Hola mundo']

***Concatenación***

Se pueden concatenar dos listas usando el operador de la suma (**+**).

In [ ]:
notas_2 = notas + ["UTN", True]

print(notas_2)

[9.1, 8.5, 'Hola mundo', 'UTN', True]

***Comprobar si un valor existe dentro de la lista***

Se usa el término `in`.

In [ ]:
print(8 in notas_2)

False

In [ ]:
print('UTN' in notas_2)

True

#### **LISTAS ANIDADAS**

Pueden haber listas adentro de otras listas, por ejemplo:

In [ ]:
lista_anidada = [1, 1.3, ["UTN", "Mendoza"]]

print(lista_anidada)

[1, 1.3, ['UTN', 'Mendoza']]

In [ ]:
posicion_2_lista = lista_anidada[2]
print(posicion_2_lista)

['UTN', 'Mendoza']

In [ ]:
posicion_2_1_lista = lista_anidada[2][1]

print(posicion_2_1_lista)

Mendoza

***
## **TUPLAS**
***

Las tuplas son secuencias inmutables de datos ya que no permiten modificar los valores de sus elementos, eliminar ni añadir elementos. Si deseamos cambiar un elemento de una tupla debemos convertirla en lista con el método `list(nombreTupla)`, modificar la lista y volverla a convertir en tupla con el método `tuple(nombreLista)`.

Para definirlas se usan los paréntesis.

`nombre_tupla = (valor1, valor2, ...)`.

Al igual que con las listas, se puede acceder a los distintos elementos de una tupla con métodos de indexación.

In [ ]:
tupla = ("Hello", 2, 3.5)

print(tupla)
print(type(tupla))

('Hello', 2, 3.5)
<class 'tuple'>

In [ ]:
print(tupla[2])

3.5

***Actualizar elementos***

No es posible actualizar una tupla ya que es un elemento inmutable.

In [ ]:
tupla[2] = 9.0

print(tupla)

TypeError: 'tuple' object does not support item assignment

***
## **SETS**
***

Un set es una colección de elementos sin duplicados. Los sets son mutables, lo que permite agregar o eliminar elementos después de su creación.


Para definirlos se usan los corchetes.

`nombre_set = {valor1, valor2, ...}`.

In [ ]:
mi_set = {33,2,4,67,28,190,2,2,3,23,54,82}

print(mi_set)
print(type(mi_set))

{33, 2, 3, 67, 4, 82, 54, 23, 28, 190}
<class 'set'>

Como vemos en el ejemplo anterior, al definir `mi_set` se incluyen 12 elementos. Sin embargo, al imprimir el set por pantalla éste contiene solo 10 elementos. Esto se debe a que en la definición el número 2 se encuentra repetido y los sets excluyen duplicados.

Esta misma es la razón por la cual Python no permite hacer slicing en los sets.

In [ ]:
mi_set[0]

TypeError: 'set' object is not subscriptable

Sin embargo, si podemos usar el operador `in`:

In [ ]:
2 in mi_set

True